<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.0">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.blog.service.Login</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>com.blog.service.Save</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Watch</servlet-name>
        <servlet-class>com.blog.service.Watch</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.blog.service.Register</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Watch</servlet-name>
        <url-pattern>/Watch</url-pattern>
    </servlet-mapping>
    

    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
